<div class="signin_page">
    <img class="heading_top" src="../assets/images/Hawkeye.png" alt="Hawkeye_img">
    <div class="signin_box">
        <div class="form_box">
            <h2 class="heading1">Connect Through Facebook</h2>
            <button class="login_btn" *ngIf="!loggedIn" (click)="signInWithFB()" >Login With FB</button>
        </div>
        <img class="login_img" src="../assets/images/login.png" alt="login_img">
        <p class="copyright">2022 © All Rights Reserved. Terms of Service</p>
    </div>
</div>
